@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>This application was developed during the S2B Advanced Program.</p>
<p>Sugestions or inquiries can be directed through the contact tab.</p>
<p>Thank you for viewing!</p>
