@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Meu Endereço, meu número<br />
    minha cidade, RS <br />
    <abbr title="Phone"> Phone:</abbr>
    meu telefone
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:manubezerra06@gmail.com">manubezerra06@gmail.com</a><br />
</address>